.workout {
  padding: 1rem;
  background-color: #eee;
  margin-bottom: 1rem; }

.workout-day {
  margin-bottom: .5rem;
  font-size: .8rem;
  text-transform: uppercase; }

.workout-name {
  font-size: 1.4rem;
  font-weight: 700; }

.workout-button {
  margin-top: 1rem; }
