.button, .button-icon {
  color: #fff;
  background-color: #63a2d3; }
  .button:hover, .button-icon:hover {
    background-color: #4f96cd; }
  .button:not([disabled]):not(.disabled).active, .button-icon:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active, .button-icon:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #63a2d3; }

.button--small {
  padding: .2rem .4rem; }

.button--danger {
  color: #fff;
  background-color: #a52b2b; }
  .button--danger:hover {
    background-color: #912626; }

.button-icon {
  padding: .2rem .4rem; }
