.panel {
  position: relative;
  padding: 1rem;
  margin-bottom: 2px;
  background-color: #f2f2f2;
  border: 2px solid #e4e9ea; }

.panel-header {
  position: absolute;
  top: -1rem;
  z-index: 10;
  padding: .4rem .8rem;
  background-color: #f2f2f2;
  border: 2px solid #e4e9ea; }
