.button, .button-icon {
  color: #4c90c2;
  display: flex;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 18px 0;
  font-size: .9rem;
  border-radius: 0;
  text-decoration: none;
  letter-spacing: .05rem;
  transition: background-color .2s, opacity .2s, color .2s;
  cursor: pointer;
  outline: none;
  text-shadow: none;
  background-color: transparent;
  line-height: 1.5;
  -webkit-appearance: none; }
  input + .button, input + .button-icon {
    margin-top: 1rem; }
  .button:focus, .button-icon:focus {
    outline: none; }
  .button.disabled, .disabled.button-icon, .button[disabled], [disabled].button-icon {
    cursor: default;
    opacity: .7;
    box-shadow: none; }

.button--danger {
  color: #c73434; }

.button-icon {
  display: flex;
  padding: 4px;
  font-size: .6rem; }
  .button-icon .button-icon-text {
    position: relative;
    top: 1px; }
