.button, .button-icon {
  color: #fff;
  background-color: #4e98cc;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .7rem;
  line-height: 1.5;
  border-radius: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: background-color .2s, opacity .2s;
  cursor: pointer;
  text-overflow: ellipsis;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden; }
  .button:hover, .button-icon:hover {
    background-color: #3a8cc6; }
  .button:not([disabled]):not(.disabled).active, .button-icon:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active, .button-icon:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 1px 3px #4e98cc, inset 0 0 2px 0 rgba(0, 0, 0, 0.2); }
  input + .button, input + .button-icon {
    margin-top: 1rem; }
  .button.disabled, .disabled.button-icon, .button[disabled], [disabled].button-icon {
    cursor: default;
    opacity: .7;
    box-shadow: none; }

.button--small {
  display: flex;
  padding: 4px;
  font-size: .6rem; }

.button--danger {
  color: #fff;
  background-color: #c73434; }
  .button--danger:hover {
    background-color: #b32f2f; }
  .button--danger:not([disabled]):not(.disabled).active, .button--danger:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 1px 3px #c73434, inset 0 0 2px 0 rgba(0, 0, 0, 0.2); }

.button-icon {
  display: flex;
  padding: 4px;
  font-size: .6rem; }
  .button-icon .button-icon-text {
    position: relative;
    top: 1px; }
