.button, .button-icon {
  color: #fff;
  background-color: #63a2d3;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  background-color: #63a2d3;
  transition: background-color .2s;
  cursor: pointer;
  text-overflow: ellipsis;
  font-size: .7rem;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0; }
  .button:hover, .button-icon:hover {
    background-color: #4f96cd; }
  .button:not([disabled]):not(.disabled).active, .button-icon:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active, .button-icon:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #63a2d3; }

.button--small {
  padding: .2rem .4rem; }

.button--danger {
  color: #fff;
  background-color: #a52b2b; }
  .button--danger:hover {
    background-color: #912626; }

.button-icon {
  display: flex;
  padding: 4px;
  font-size: .6rem; }
  .button-icon .button-icon-text {
    position: relative;
    top: 1px; }
