@import "Button/style.scss";

.button-icon {
    @extend .button;
    display: flex;
    padding: 4px;
    font-size: .6rem;

    img {
    }

    .button-icon-text {
        position: relative;
        top: 1px;
    }
}
