.graph {
  position: relative; }

.graph-no-data {
  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
  padding: 36px 18px;
  background-color: rgba(76, 144, 194, 0.5);
  color: #fff;
  text-align: center; }
