@import "variables.scss";

.graph {
    position: relative;
}

.graph-no-data {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: $spacing $spacing * 2;

    background-color: rgba($color-primary, .5);
    color: #fff;
    text-align: center;

    @media (max-width: 500px) {
        padding: $spacing / 2 $spacing;
    }
}
