@import "variables.scss";

.graph {
    position: relative;
}

.graph-no-data {
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: $spacing * 2 $spacing;

    background-color: rgba($color-primary, .5);
    color: #fff;
    text-align: center;
}
