@import "variables.scss";

.graph {
    position: relative;
}

.graph-no-data {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: $spacing * 2 $spacing;

    background-color: rgba($color-primary, .5);
    color: #fff;
    text-align: center;

    @media (max-width: 500px) {
        margin-left: 8%;
        margin-right: 8%;
    }
}
