.form-input {
  display: flex; }
  .form-input input {
    flex: 1;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, 0.1) dashed;
    width: 100%;
    color: #fff; }
    .form-input input.input-right {
      text-align: right; }
    .form-input input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .form-input input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .form-input input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.3); }
    .form-input input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.3); }
  .form-input .form-input-item {
    padding: .3rem 0 .3rem .3rem;
    font-size: .7rem;
    text-transform: uppercase; }

.form-errors {
  font-size: .8rem;
  padding: .5rem;
  background-color: #ab2323; }
