@import "variables.scss";

.exercises-edit {
}

.exercises-edit-button-create {
    display: flex;
    padding-right: $spacing;

    button {
        margin-left: auto;
    }
}

// single

.exercise-edit {
    position: relative;
    margin-bottom: $spacing * 1.5;

    .field-group {
        margin-bottom: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.exercise-edit-button-remove {
    position: absolute;
    top: 3px;
    right: 0;

    button {
        padding: $spacing / 2 $spacing;
    }
}

// form

.exercise-edit-form {

    select {
        width: 70%;
    }
}
