.badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #deba36;
  text-align: center;
  border-radius: 50%;
  color: #f9f9f9;
  font-size: .8rem;
  font-weight: 500; }
