@import 'styles/variables.scss';

.checkbox {
    display: none;
}

.checkbox-tick {
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid $color-border;
    user-select: none;
    cursor: pointer;
    transition: border 0.2s;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &:hover {
        border-color: rgba($color-primary, 0.5);
    }

    &.checkbox-tick--checked {
        border-color: $color-primary;
    }
}
