.select {
  position: relative;
  padding: 5px 35px 5px 10px;
  height: 34px;
  width: 100%;
  appearance: none;
  font-size: .9rem;
  color: #efefef;
  border: 0px solid #aaa;
  font-weight: 500;
  background-image: url("../../../media/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px top 13px;
  background-color: rgba(0, 0, 0, 0.2); }
  .select:focus {
    background-color: rgba(0, 0, 0, 0.2); }
  .select.select--default-option {
    color: rgba(255, 255, 255, 0.6); }
