@import "variables.scss";

.select {
    position: relative;
    padding: 5px 35px 5px 10px;
    width: 100%;

    appearance: none;
    font-size: .9rem;
    color: $color-font;
    border: 0px solid $color-border-input;
    font-weight: 500;

    background-image: url('../../../media/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 13px top 13px;
    background-color: transparent;

    &:focus {
        // background-color: $color-input-background;
    }

    &.select--default-option {
        color: rgba($color-font, .6);
    }
}
