@import 'styles/variables.scss';

.select {
    position: relative;
    padding: $spacing/2 35px $spacing/2 20px;
    width: 100%;
    max-width: 100%;

    appearance: none;
    font-size: 0.9rem;
    color: $color-font;
    border: 0px solid $color-border-input;
    text-overflow: ellipsis;

    background-image: url('~media/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: left 0 center;
    background-color: transparent;

    &:focus {
        // background-color: $color-input-background;
    }

    &.select--default-option {
        color: rgba($color-font, 0.6);
    }
}
