@import "variables.scss";

.select {
    position: relative;
    padding: 5px 35px 5px 10px;
    height: 34px;
    width: 100%;

    appearance: none;
    font-size: .9rem;
    color: $color-font;
    background-color: $color-background-light;
    border: 0px solid $color-border-input;

    background-image: url('../../../media/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 13px top 13px;

    &:focus {
        background-color: lighten($color-background-light, 5%);
    }

    &.select--default-option {
        color: rgba(#fff, .3);
    }
}
