.button {
  color: #fff;
  background-color: #4e98cc;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .7rem;
  line-height: 1.5;
  border-radius: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: background-color .2s;
  cursor: pointer;
  text-overflow: ellipsis;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden; }
  .button:hover {
    background-color: #3a8cc6; }
  .button:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 1px 3px #4e98cc, inset 0 0 2px 0 rgba(0, 0, 0, 0.2); }
  input + .button {
    margin-top: 1rem; }

.button--small {
  display: flex;
  padding: 4px;
  font-size: .6rem; }

.button--danger {
  color: #fff;
  background-color: #a52b2b; }
  .button--danger:hover {
    background-color: #912626; }
  .button--danger:not([disabled]):not(.disabled).active, .button--danger:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 1px 3px #a52b2b, inset 0 0 2px 0 rgba(0, 0, 0, 0.2); }
