@import "scss/variables.scss";

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #444;
    font-weight: 700;
    background-color: $color-button;
    transition: background-color .2s;
    cursor: pointer;
    color: #fff;

    &:hover {
        background-color: $color-button-hover;
    }

    &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active {
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-button;
    }
}

.button-small {
    @extend .button;

    text-overflow: ellipsis;
    font-size: .7rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
