.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
  background-color: #1e6abb;
  transition: background-color .2s; }
  .button:hover {
    background-color: #19599c; }
  .button:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
