@import "variables.scss";

@mixin button-color($color) {
    color: lighten($color, 36%);
    background-color: $color;
    // text-shadow: 0px 1px 1px darken($color, 15%);

    &:hover {
        background-color: darken($color, 5%);
    }

    &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active {
        box-shadow: 0 0 1px 2px darken($color, 15%), inset 0 0 1px 1px rgba(#000, .2);
    }
}

.button {
    @include button-color($color-primary);

    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .35rem .7rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: background-color .2s, opacity .2s, color .2s;
    cursor: pointer;
    outline: 0;

    text-overflow: ellipsis;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;

    input + & {
        margin-top: 1rem;
    }

    &.disabled, &[disabled] {
        cursor: default;
        opacity: .7;
        box-shadow: none;
    }

    img {
        margin-right: $spacing-small;
    }
}

.button--small {
    display: flex;
    padding: 4px;
    font-size: .6rem;
}

.button--danger {
    @include button-color($color-danger);
}

.button--transparent {
    padding: 0;
    color: lighten($color-primary, 5%);
    background-color: transparent;
    letter-spacing: initial;
    border: 0;
    text-shadow: none;

    &.button--danger {
        color: $color-danger;

        &:hover {
            color: lighten($color-danger, 5%);
        }
    }

    &:hover {
        color: lighten($color-primary, 10%);
        background-color: transparent;
    }

    &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active {
        outline: 0;
        box-shadow: none;
    }
}
