@import "variables.scss";

@mixin button-color($color) {
    color: #fff;
    background-color: $color;

    &:hover {
        background-color: darken($color, 5%);
    }
}

.button {
    @include button-color($color-button);

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: background-color .2s;
    cursor: pointer;

    text-overflow: ellipsis;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;

    &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active {
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-button;
    }

    input + & {
        margin-top: 1rem;
    }
}

.button--small {
    display: flex;
    padding: 4px;
    font-size: .6rem;
}

.button--danger {
    @include button-color($color-button-danger);
}
