.info-container .button {
  margin: auto;
  color: #d9ae18; }

.info {
  padding: 18px 36px;
  background-color: rgba(236, 202, 81, 0.1);
  border: 1px solid rgba(236, 202, 81, 0.2); }

.info-title {
  text-align: center;
  font-weight: 500; }

.info-content h2 {
  font-weight: 500; }

.info-content p {
  margin-bottom: 27px;
  line-height: 1.5; }
