@import 'variables.scss';

.info {
    margin-bottom: $spacing;

    .button {
        padding: 0;
        margin: auto;
        color: darken($color-info, 15%);
    }
}

.info-content {
    margin-top: $spacing;
    padding: $spacing * 2;
    background-color: rgba($color-info, 0.1);
    border: 1px solid rgba($color-info, 0.2);

    h2 {
        font-weight: 500;
    }

    p {
        font-size: 0.95rem;
        margin-bottom: $spacing * 1.5;
        line-height: 1.5;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
