.react-tabs__tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  border-bottom: 6px solid #444;
  margin-bottom: 1rem; }

.react-tabs__tab {
  padding: .6rem 1.4rem;
  background-color: #333;
  cursor: pointer;
  transition: background-color .2s, color .2s;
  border-bottom: none; }
  .react-tabs__tab.react-tabs__tab--selected, .react-tabs__tab:hover {
    background-color: #444;
    border-bottom: none; }
