.react-tabs {

}

// tab list

.react-tabs__tab-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border-bottom: 4px solid #fff;
    margin-bottom: 1rem;
}

.react-tabs__tab {
    padding: .6rem 1.4rem;
    background-color: #444;
    cursor: pointer;
    transition: background-color .2s, color .2s;

    &.react-tabs__tab--selected, &:hover {
        background-color: #fff;
        color: #444;
    }
}

// tab panel

.react-tabs__tab-panel {

    &.react-tabs__tab-panel--selected {

    }
}
