.list-item {
  display: block;
  padding: 14px 18px;
  text-decoration: none;
  border-bottom: 1px solid #e4e9ea;
  transition: border-color .2s;
  background-color: transparent;
  background-image: url("../../media/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  transition: color .2s, background-position .2s; }
  .list-item:hover {
    color: #4c90c2;
    background-position: right 27px center; }
  .list-item:first-child {
    border-top: 1px solid #e4e9ea; }
