@import "variables.scss";

.list-item {
    display: block;
    font-size: 1em;
    padding: $spacing - 4 $spacing;
    text-decoration: none;
    border-bottom: 1px solid $color-border;
    transition: border-color .2s;
    background-color: transparent;
    background-image: url('../../media/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right $spacing center;
    transition: color .2s, background-position .2s;

    &:hover, &:focus {
        color: $color-primary;
        background-position: right $spacing/1.5 center;

        & [class*='-day'] {
            color: $color-font;
        }
    }

    & [class*='-day'] {
        color: $color-font;
    }

    &:first-child {
        border-top: 1px solid $color-border;
    }
}

.list-item-info {
    font-size: .9rem;
    margin-top: .5rem;
}
