
.routines {

}

.routines-button-create {
    margin-bottom: 1rem;
}

.routine {

    a {
        display: block;
        margin-bottom: 1rem;
        padding: .4rem 1rem;
        font-size: .8rem;
        // background-color: #fff;
        text-decoration: none;

        &:hover {
            color: blue;
        }
    }

    .routine-title {
        margin-bottom: .2rem;
    }
}


// single page

.routine-single-container {

}

.routine-single {
    // padding: 1rem;
    margin-bottom: 2rem;
    // background-color: #fff;

    input {
        padding: .5rem;
        font-size: 1.4rem;
    }
}
