.routines-button-create {
  margin-bottom: 1rem; }

.routine a {
  display: block;
  margin-bottom: 1rem;
  padding: .4rem 1rem;
  font-size: .8rem;
  text-decoration: none; }
  .routine a:hover {
    color: blue; }

.routine .routine-title {
  margin-bottom: .2rem; }

.routine-single {
  margin-bottom: 2rem; }
  .routine-single input {
    padding: .5rem;
    font-size: 1.4rem; }
