.routines-button-create {
  position: absolute;
  top: 0;
  right: 0; }

.routine-title {
  margin-bottom: .2rem;
  display: block;
  margin-bottom: 2rem;
  padding: .4rem 1rem;
  font-size: .8rem;
  text-decoration: none;
  border-bottom: 2px solid #444;
  border-left: 8px solid #444;
  transition: border-color .2s; }
  .routine-title:hover {
    border-color: #eee; }

.routine-single {
  margin-bottom: 2rem; }

.routine-single-title {
  position: relative; }
