@import "variables.scss";
@import "mixins.scss";

.routines {
}

.routines-button-create {
    position: absolute;
    top: 0;
    right: 0;
}


.routines-program {
    padding: 2rem 5rem;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    background-color: #292929;
    border-bottom: 2px solid #111;

    @media (max-width: 500px) {
        padding: 1rem;
    }
}

    .routines-program-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-left: -20px;
    }

    .routines-program-col {
        flex: 1;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 20px;
        padding-left: 20px;
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }

    .routines-program-button {
        margin-top: 2rem;
        text-align: center;
    }

.routine {
}

    .routine-title {
        margin-bottom: .2rem;
        display: block;
        margin-bottom: 2rem;
        padding: .4rem 1rem;
        font-size: .8rem;
        text-decoration: none;
        border-bottom: 2px solid #333;
        border-left: 8px solid #333;
        transition: border-color .2s;

        &:hover {
            border-color: $color-primary;
        }
    }


// single page

.routine-single {
    margin-bottom: 2rem;
}

.routine-settings {
    // position: absolute;
    display: flex;
    // top: 0;
    // right: 0;
}

    .routine-settings-item {
        flex: 1;
        margin-left: .5rem;


        select {
            width: 85px;
        }

        label {
            // text-align: right;
        }
    }

.routine-single-title {
    position: relative;
}

.routine-single-button-remove {
    text-align: right;
}

.routine-single-tablist {
    @include tablist();
}

.routine-single-tab {
    @include tab();
}
