@import "variables.scss";

// put this in components

// lifts



// block

.block-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
}
.block-column {
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
    flex: 0 0 percentage(1/5);
    max-width: percentage(1/5);

    @media (max-width: 860px) {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }

    @media (max-width: 700px) {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }

    @media (max-width: 500px) {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}

.block-button-create {
    margin-top: 1rem;
}

// block-workout

.block-workout {
    background-color: #fff;
    margin-bottom: 1rem;
}

.block-workout-name {
    padding: 6px 10px;
    border-bottom: 2px solid #ccc;
}

.block-workout-lift-name {
    padding: 6px 10px;
    border-radius: 3px;
    border-bottom: 1px solid $color-background;
    background-color: #fff;
}

.block-workout-lift-set {
    padding: 4px 10px;
    font-size: .9rem;
    border-radius: 3px;
    border-bottom: 1px solid $color-background;
    background-color: #fff;
}


// set

.set-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
    justify-content: center;
}

.set-col {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 50%;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
}

.set-weight {
    text-align: center;
}

.set-weight-value {
    margin-top: .2rem;
    padding: .2rem .5rem;
    display: inline-block;
    background-color: rgba(#000, .03);
    font-size: .7rem;

    input {
        width: 20%;
        font-size: .9rem;
        margin-right: .5rem;
    }
}

.set-mass {
}

.set-button {
    text-align: right;

    button {
        position: relative;
        margin-left: .2rem;
    }
}


.exercise-button-create {
    position: relative;
    text-align: center;
    bottom: -10px;
}
