@import url(~normalize.css);
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  text-align: left; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

p {
  margin-top: 0; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col--1of2 {
  flex: 0 0 50%;
  max-width: 50%; }

.col--1of3 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col--1of7 {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

.col--offset1of7 {
  margin-left: 14.28571%; }

.col--offset2of7 {
  margin-left: 28.57143%; }

.col--offset3of7 {
  margin-left: 42.85714%; }

.col--offset4of7 {
  margin-left: 57.14286%; }

.col--offset5of7 {
  margin-left: 71.42857%; }

.col--offset6of7 {
  margin-left: 85.71429%; }

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.Grid-cell {
  flex: 1; }

.Grid--flexCells > .Grid-cell {
  display: flex; }

.Grid--top {
  align-items: flex-start; }

.Grid--bottom {
  align-items: flex-end; }

.Grid--center {
  align-items: center; }

.Grid--justifyCenter {
  justify-content: center; }

.Grid-cell--top {
  align-self: flex-start; }

.Grid-cell--bottom {
  align-self: flex-end; }

.Grid-cell--center {
  align-self: center; }

.Grid-cell--autoSize {
  flex: none; }

.Grid--fit > .Grid-cell {
  flex: 1; }

.Grid--full > .Grid-cell {
  flex: 0 0 100%; }

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%; }

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%; }

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%; }

@media (--break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1; }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%; }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }

@media (--break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1; }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%; }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1; }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%; }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }

.Grid--gutters {
  margin: -1em 0 1em -1em; }

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em; }

.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em; }

.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em; }

.Grid--guttersXl {
  margin: -2em 0 2em -2em; }

.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em; }

@media (--break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em; }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em; }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em; }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em; } }

@media (--break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em; }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em; }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em; }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em; } }

@media (--break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em; }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em; }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em; }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em; }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em; } }

*, ::after, ::before {
  box-sizing: border-box; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #444;
  overflow-y: scroll;
  background-color: #f9f9f9;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  margin-bottom: .4rem; }

h2 {
  font-size: 1.1rem; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-size: 1rem; }

a {
  color: #444;
  text-decoration: none; }
