@import "~normalize.css";
@import "variables.scss";
@import "layout.scss";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $color-font;
    overflow-y: scroll;
    background-color: $color-background;
    margin-bottom: 10rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    margin-bottom: .4rem;
}

p {
    font-size: 1.1rem;
}

a {
    color: $color-font;
}

// global styles

.global-header {
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
}
