@import 'variables.scss';

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-rendering: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    font-kerning: inherit;
    -webkit-text-size-adjust: inherit;
}

body {
    font-family: $font-family;
    color: $color-font;
    overflow-y: scroll;
    background-color: $color-background;
    font-weight: 400;
}

#root {
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: $spacing * 6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.4rem;
}

h2 {
    font-size: 1.1rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1rem;
}

a {
    font-size: 0.9rem;
    color: $color-font;
    text-decoration: none;

    transition: 0.2s all;

    &:hover,
    &:focus {
        color: $color-primary;
    }
}

small {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: #777777;
}
