@import "~normalize.css";
@import "variables.scss";
@import "layout.scss";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $color-font;
    overflow-y: scroll;
    background-color: $color-background;
    margin-bottom: 10rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    margin-bottom: .4rem;
}

p {
    font-size: 1rem;
}

a {
    color: $color-font;
    text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #333 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #fff;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #333 inset;
    -webkit-text-fill-color: #fff;
}

.global-form-field {

}
