$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

$color-background: #222;
$color-background-light: #333;

$color-font: #efefef;

$color-primary: #efefef;
$color-primary-hover: darken($color-primary, 7%);

$color-button: #4e98cc;
$color-button-danger: #c73434;

$color-border: rgba(#fff, .1);

$color-border-input: #aaa;
$color-border-input-active: lighten(#ddd, 10%);


$z-index-tooltip: 100;
