$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

$color-background: #222;
$color-background-light: #292929;

$color-font: #efefef;

$color-primary: #4e98cc;
$color-danger: #c73434;
$color-success: #4ea24e;

$color-border: rgba(#fff, .1);

$color-input-background: rgba(#000, .2);
$color-border-input: #aaa;
$color-border-input-active: lighten(#ddd, 10%);

$spacing-small: 5px;


$z-index-tooltip: 100;
