$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

$color-background: #fff;
$color-background-light: #fff;

$color-font: #444;

$color-primary: #4c90c2;
$color-danger: #d05151;
$color-success: #6ec36e;
$color-info: #ecca51;

$color-border: #f1f1f1;

$color-input-background: rgba(#000, 0.2);
$color-border-input: #aaa;
$color-border-input-active: lighten(#ddd, 10%);

$spacing: 18px;
$spacing-small: 5px;

$z-index-tooltip: 100;
