.workout-routine-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: rgba(76, 144, 194, 0.05);
  font-size: 1.1rem; }
  .workout-routine-name .button {
    display: inline-block;
    padding: 0;
    margin-left: 18px;
    font-size: 1.2rem;
    font-weight: 500; }

.workout-routine-name-deleted {
  margin-left: 18px;
  margin-top: 3px;
  color: #d05151;
  font-size: .8rem; }

.workout-dates {
  margin-top: 18px; }
