@import "variables.scss";

.workout-name {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: $spacing * 2;
}

.workout-notes {
    margin-left: $spacing;
}

// form

// .workout-top {
//     display: flex;
//     position: relative;
//     background-color: #333;
//     padding: $spacing-small;
//     transition: background-color .2s;
//     border-bottom: 2px solid transparent;

//     &.workout-top--is-completed {
//         background-color: $color-primary;
//         border-color: darken($color-primary, 10%);
//     }
// }

// .workout-top-name {
//     display: flex;

//     label {
//         align-self: center;
//         text-align: center;
//         margin: 0;
//         margin-left: $spacing-small;
//         margin-right: $spacing-small * 2;
//         white-space: nowrap;
//     }
// }

// .workout-top-input {
//     width: 100%;
// }

// .workout-top-checkbox {
//     display: flex;
//     cursor: pointer;
//     margin-bottom: 0;
//     margin-left: $spacing-small * 2;

//     > span {
//         align-self: center;
//     }
// }

// .workout-top-checkbox-text {
//     margin-right: .4rem;
//     display: inline-block;
//     color: #555;
//     align-self: center;
//     user-select: none;

//     .workout-top--is-completed & {
//         color: $color-font;
//     }
// }

// .workout-notes {
//     position: relative;
//     margin-top: 1rem;
//     padding: $spacing-small;

//     label {
//         margin: 0;
//         margin-bottom: .2rem;
//         margin-left: $spacing-small;;
//     }
// }
