@import 'variables.scss';

.workout-routine-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing;
    background-color: rgba(76, 144, 194, 0.05);
    font-size: 1.1rem;

    .button {
        display: inline-block;
        padding: 0;
        margin-left: $spacing;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.workout-routine-name-deleted {
    margin-left: $spacing;
    margin-top: 3px;
    color: $color-danger;
    font-size: 0.8rem;
}

.workout-dates {
    margin-top: $spacing;
}

.workout-notes {
}
