.exercises-button-create {
  position: relative;
  margin-top: .5rem; }
  .exercises-button-create button {
    margin: auto; }

.exercise {
  border: 1px solid #444;
  background-color: #3e3e3e;
  margin-bottom: 10px; }

.exercise-button-remove {
  padding: 5px; }
  .exercise-button-remove button {
    margin-left: auto; }

.exercise-form {
  padding: 5px; }
