.exercises-button-create {
  position: relative;
  margin-top: .5rem; }
  .exercises-button-create button {
    margin: auto; }

.exercise {
  padding: .3rem;
  border: 1px solid #444;
  background-color: #3e3e3e; }

.exercise-button-remove button {
  margin-left: auto; }

.exercise-form {
  margin-bottom: .3rem; }
