.exercises-button-create {
  position: relative;
  margin-top: 5px;
  text-align: right; }

.exercise {
  background-color: #efefef;
  padding: .3rem;
  margin-top: 3px;
  border: 1px solid #ddd; }

.exercise-button-remove button {
  margin-left: auto; }

.exercise-form {
  background-color: #fff;
  margin-bottom: .3rem; }
  .exercise-form select {
    background-color: transparent;
    height: 30px; }
    .exercise-form select:focus {
      background-color: transparent; }
