.exercises-container {

}


.exercises-button-create {
    position: relative;
    margin-top: .5rem;

    button {
        margin: auto;
    }
}

// single

.exercise {
    // background-color: #555;
    padding: .3rem;
    border: 1px solid #444;
    background-color: #3e3e3e;
}

.exercise-button-remove {
    button {
        margin-left: auto;
    }
}

// form

.exercise-form {
    // background-color: #fff;
    margin-bottom: .3rem;

    // select {
    //     background-color: transparent;
    //     height: 30px;
    //     &:focus {
    //         background-color: transparent;
    //     }
    // }
}
