.exercises-container {

}


.exercises-button-create {
    position: relative;
    margin-top: 5px;
    text-align: right;
}

// single

.exercise {
    background-color: #efefef;
    padding: .3rem;
    margin-top: 3px;
    border: 1px solid #ddd;
}

.exercise-button-remove {
    button {
        margin-left: auto;
    }
}

// form

.exercise-form {
    background-color: #fff;
    margin-bottom: .3rem;

    select {
        background-color: transparent;
        height: 30px;
        &:focus {
            background-color: transparent;
        }
    }
}
