@import "variables.scss";

.exercises-container {
    margin-top: $spacing-small * 2;
}

.exercises-button-create {
    position: relative;
    margin-top: .5rem;
    text-align: center;
}

// single

.exercise {
    border: 1px solid #444;
    background-color: #3e3e3e;
    margin-bottom: $spacing-small * 2;
}

.exercise-button-remove {
    padding: $spacing-small;
    text-align: right;
}

// form

.exercise-form {
    padding: $spacing-small;
}
