.offline {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 300px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.offline-logo {
}

.offline-text {
    line-height: 1.4;
    margin-bottom: 2rem;
}
