.CalendarDay__highlighted_calendar {
  background: #82E0AA;
  color: #186A3B; }

.CalendarDay__highlighted_calendar:hover {
  background: #58D68D;
  color: #186A3B; }

.CalendarDay__highlighted_calendar:active {
  background: #58D68D;
  color: #186A3B; }

.workout-single-day {
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
  text-align: center; }

.workout-single-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center; }

.exercise-name {
  font-weight: 700;
  margin-bottom: .3rem; }

.exercise-data-container {
  display: flex;
  flex-direction: row; }

.exercise-data {
  margin-right: 1rem; }
