@import "variables.scss";
@import "Button/style.scss";

.calendar-selector {
    text-align: center;
    margin-bottom: 2rem;
}

.calendar-week-names {
    font-size: 1.4rem;
    padding: .3rem .3rem 1rem;
    text-align: center;
}

.calendar-day {
    height: 80px;
    padding: .3rem;
    margin-bottom: 4px;

    border: 1px solid $color-border;
}

.calendar-number {
    font-size: 1rem;
    text-align: right;
    margin-bottom: .3rem;
}

.calendar-workout {
    @extend .button;

    display: block;
    margin-bottom: .2rem;
    padding: .2rem;

    font-size: .8rem;
    text-transform: none;
    font-weight: 400;
    text-align: left;
}

.row--calendar {
    margin-right: -2px;
    margin-left: -2px;
}

.col--calendar {
    padding-right: 2px;
    padding-left: 2px;
}
