.button, .calendar-workout {
  color: #4c90c2;
  display: flex;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 18px 0;
  font-size: .9rem;
  border-radius: 0;
  text-decoration: none;
  letter-spacing: .05rem;
  cursor: pointer;
  outline: none;
  text-shadow: none;
  background-color: transparent;
  transition: color .2s;
  line-height: 1.5;
  -webkit-appearance: none; }
  .button:hover, .calendar-workout:hover {
    color: #85b3d5; }
  input + .button, input + .calendar-workout {
    margin-top: 1rem; }
  .button:focus, .calendar-workout:focus {
    outline: none; }
  .button.disabled, .disabled.calendar-workout, .button[disabled], [disabled].calendar-workout {
    cursor: default;
    opacity: .7;
    box-shadow: none; }

.button--danger {
  color: #d05151; }
  .button--danger:hover {
    color: #e08d8d; }

.calendar-selector {
  text-align: center;
  margin-bottom: 2rem; }

.calendar-week-names {
  font-size: 1.4rem;
  padding: .3rem .3rem 1rem;
  text-align: center; }

.calendar-day {
  height: 80px;
  padding: .3rem;
  margin-bottom: 4px;
  border: 1px solid #e4e9ea; }

.calendar-number {
  font-size: 1rem;
  text-align: right;
  margin-bottom: .3rem; }

.calendar-workout {
  display: block;
  margin-bottom: .2rem;
  padding: .2rem;
  font-size: .8rem;
  text-transform: none;
  font-weight: 400;
  text-align: left; }

.row--calendar {
  margin-right: -2px;
  margin-left: -2px; }

.col--calendar {
  padding-right: 2px;
  padding-left: 2px; }
