.button, .calendar-workout {
  color: #fff;
  background-color: #4e98cc;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .7rem;
  line-height: 1.5;
  border-radius: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: background-color .2s, opacity .2s, color .2s;
  cursor: pointer;
  text-overflow: ellipsis;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden; }
  .button:hover, .calendar-workout:hover {
    background-color: #3a8cc6; }
  .button:not([disabled]):not(.disabled).active, .calendar-workout:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active, .calendar-workout:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 1px 3px #4e98cc, inset 0 0 2px 0 rgba(0, 0, 0, 0.2); }
  input + .button, input + .calendar-workout {
    margin-top: 1rem; }
  .button.disabled, .disabled.calendar-workout, .button[disabled], [disabled].calendar-workout {
    cursor: default;
    opacity: .7;
    box-shadow: none; }
  .button img, .calendar-workout img {
    margin-right: 5px; }

.button--small {
  display: flex;
  padding: 4px;
  font-size: .6rem; }

.button--danger {
  color: #fff;
  background-color: #c73434; }
  .button--danger:hover {
    background-color: #b32f2f; }
  .button--danger:not([disabled]):not(.disabled).active, .button--danger:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 1px 3px #c73434, inset 0 0 2px 0 rgba(0, 0, 0, 0.2); }

.button--transparent {
  padding: 0;
  color: #4e98cc;
  background-color: transparent;
  letter-spacing: initial;
  border: 0; }
  .button--transparent.button--danger {
    color: #c73434; }
    .button--transparent.button--danger:hover {
      color: #cf4646; }
  .button--transparent:hover {
    color: #62a4d2;
    background-color: transparent; }
  .button--transparent:not([disabled]):not(.disabled).active, .button--transparent:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: none; }

.calendar-selector {
  text-align: center;
  margin-bottom: 2rem; }

.calendar-week-names {
  font-size: 1.4rem;
  padding: .3rem .3rem 1rem;
  text-align: center; }

.calendar-day {
  height: 80px;
  padding: .3rem;
  margin-bottom: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.calendar-number {
  font-size: 1rem;
  text-align: right;
  margin-bottom: .3rem; }

.calendar-workout {
  display: block;
  margin-bottom: .2rem;
  padding: .2rem;
  font-size: .8rem;
  text-transform: none;
  font-weight: 400;
  text-align: left; }

.row--calendar {
  margin-right: -2px;
  margin-left: -2px; }

.col--calendar {
  padding-right: 2px;
  padding-left: 2px; }
