.button, .calendar-workout {
  color: #fff;
  background-color: #1b8ffe;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  background-color: #1b8ffe;
  transition: background-color .2s;
  cursor: pointer;
  text-overflow: ellipsis;
  font-size: .7rem;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0; }
  .button:hover, .calendar-workout:hover {
    background-color: #0283fe; }
  .button:not([disabled]):not(.disabled).active, .calendar-workout:not([disabled]):not(.disabled).active, .button:not([disabled]):not(.disabled):active, .calendar-workout:not([disabled]):not(.disabled):active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #1b8ffe; }

.button--small {
  padding: .2rem .4rem; }

.button--danger {
  color: #fff;
  background-color: #a52b2b; }
  .button--danger:hover {
    background-color: #912626; }

.calendar-selector {
  text-align: center;
  margin-bottom: 2rem; }

.calendar-week-names {
  font-size: 1.4rem;
  padding: .3rem .3rem 1rem;
  text-align: center; }

.calendar-day {
  height: 80px;
  padding: .3rem;
  margin-bottom: 4px;
  border: 1px solid #353535; }

.calendar-number {
  font-size: 1rem;
  text-align: right;
  margin-bottom: .3rem; }

.calendar-workout {
  display: block;
  margin-bottom: .2rem;
  padding: .2rem;
  font-size: .8rem;
  text-transform: none;
  font-weight: 400;
  text-align: left; }

.row--calendar {
  margin-right: -2px;
  margin-left: -2px; }

.col--calendar {
  padding-right: 2px;
  padding-left: 2px; }
