.workouts-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3px;
  margin-left: -3px; }

.workouts-column {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }
  @media (max-width: 1040px) {
    .workouts-column {
      flex: 0 0 20%;
      max-width: 20%; } }
  @media (max-width: 860px) {
    .workouts-column {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (max-width: 700px) {
    .workouts-column {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (max-width: 500px) {
    .workouts-column {
      flex: 0 0 50%;
      max-width: 50%; } }

.workouts-button-create {
  position: absolute;
  top: -2px;
  right: 0; }

.workout {
  position: relative;
  background-color: #333;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.workout-checkbox {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center; }

.workout-checkbox-text {
  margin-left: .4rem;
  display: inline-block;
  color: #555; }
  .workout-form--is-done .workout-checkbox-text {
    color: #efefef; }

.workout-button-remove {
  position: absolute;
  top: -3px;
  right: -3px; }

.workout-form {
  position: relative;
  background-color: #333;
  padding: .3rem;
  transition: background-color .2s; }
  .workout-form.workout-form--is-done {
    background-color: #4e98cc; }
  .workout-form label {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: .2rem; }

.workout-notes {
  position: relative;
  margin-top: 1rem;
  padding: .4rem; }
  .workout-notes label {
    margin: 0;
    margin-bottom: .2rem; }
