@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.workouts-container {
    .no-data {
    }
}

.workouts {
    margin-bottom: $spacing;
}

// single

.workouts-workout {
}

.workouts-workout-day {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.workout-button-delete {
}
