@import "variables.scss";
@import "mixins.scss";

.workouts-container {

    .no-data {
    }
}

.workouts {
    margin-bottom: $spacing;
}

// single

.workouts-workout {
}

.workouts-workout-day {
    font-size: .8rem;
    margin-bottom: .4rem;
}

.workout-button-remove {
}

