.lifts-container {
  margin-bottom: 2rem; }

.lifts {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3px;
  margin-left: -3px; }

.lifts-header {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.lifts-button-create {
  margin-bottom: .5rem; }

.lift {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 10px;
  flex: 0 0 20%;
  max-width: 20%; }

@media (max-width: 860px) {
  .lift {
    flex: 0 0 25%;
    max-width: 25%; } }

@media (max-width: 700px) {
  .lift {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; } }

@media (max-width: 500px) {
  .lift {
    flex: 0 0 50%;
    max-width: 50%; } }

.lift-inner {
  padding: .4rem;
  border: 1px solid #555; }

.lift-name {
  position: relative;
  background-color: #333;
  margin-bottom: .4rem; }

.lift-name input {
  color: #fff; }

.lift-button-delete {
  position: absolute;
  text-align: right;
  right: 0px;
  top: -3px; }
