@import "variables.scss";

.lifts-container {
    margin-bottom: 2rem;
}

.lifts {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
}

.lifts-button-create {
    position: absolute;
    top: 0;
    right: 0;
}

// single

.lift {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 10px;

    flex: 0 0 percentage(1/6);
    max-width: percentage(1/6);

    @media (max-width: 1040px) {
        flex: 0 0 percentage(1/5);
        max-width: percentage(1/5);
    }

    @media (max-width: 860px) {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }

    @media (max-width: 700px) {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }

    @media (max-width: 500px) {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}
    .lift-inner {
        position: relative;
        background-color: #303030;
        padding: $spacing-small;
    }

    .lift-title {
        position: relative;
        text-align: center;

        label {
            display: inline-block;
            margin-right: .4rem;
        }
    }

    .lift-name {
        input {
            border-bottom: none;
        }
    }

    .lift-rm {
    }

.lift-button-remove {
    text-align: right;
    padding: $spacing-small;
    padding-bottom: 0;
}

// form

.lift-form {

}
