@import "variables.scss";

.lifts-container {
}

.lifts {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
}

.lifts-header {
    // padding: .4rem 1rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    // background-color: #fff;
    text-transform: uppercase;
    // border-bottom: 3px solid #ccc;
}

.lifts-button-create {
    margin-left: 1rem;
}

// single

.lift {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;

    flex: 0 0 percentage(1/5);
    max-width: percentage(1/5);

    @media (max-width: 860px) {
        flex: 0 0 percentage(1/4);
        max-width: percentage(1/4);
    }

    @media (max-width: 700px) {
        flex: 0 0 percentage(1/3);
        max-width: percentage(1/3);
    }

    @media (max-width: 500px) {
        flex: 0 0 percentage(1/2);
        max-width: percentage(1/2);
    }
}

    .lift-name {
        position: relative;
        background-color: #333;
        padding: .4rem;
        border-bottom: 3px solid lighten(#333, 30%);

        input {
            color: #fff;
        }
    }

    .lift-rm {
        background-color: #fff;
        padding: .4rem;
    }

.lift-button-delete {
    position: absolute;
    text-align: right;
    right: 0px;
    top: -3px;
}

// form

.lift-form {

}
