.alert {
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  opacity: 1; }

.alert--success {
  background-color: #4ea24e; }

.alert--error {
  background-color: #c73434; }

.alert--info {
  background-color: #deba36; }

.alert--small {
  padding: 5px;
  font-size: .8rem;
  line-height: 1.1;
  margin-bottom: 0;
  border-width: 1px; }

.alert--fade-in {
  animation: fade-in 1s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
