@import "variables.scss";

.alert {
    display: block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    opacity: 1;
}

    .alert--success {
        background-color: $color-success;
    }

    .alert--error {
        background-color: $color-danger;
    }

    .alert--info {
        background-color: $color-info;
    }

    .alert--small {
        padding: $spacing-small;
        font-size: .8rem;
        line-height: 1.1;
        margin-bottom: 0;
        border-width: 1px;
    }

    .alert--fade-in {
        animation: fade-in 1s;
    }

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
