.alert {
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1rem;
  background-color: #ab2323;
  color: #444;
  line-height: 1.5;
  opacity: 1; }

.alert--success {
  background-color: #4ea24e;
  border: 2px solid #469146; }

.alert--error {
  background-color: #9c4545;
  border: 2px solid #8a3d3d; }

.alert--small {
  padding: 5px;
  font-size: .8rem;
  line-height: 1.1;
  margin-bottom: 0;
  border-width: 1px; }

.alert--fade-in {
  animation: fade-in 1s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
