@import "variables.scss";

.sets-edit {
    background-color: #fff;
}

.sets-edit-button-create {
    display: flex;
    padding: $spacing / 2 $spacing;
    background-color: $color-background;

    button {
        margin-left: auto;
        padding: 0;
    }
}

.sets-edit-header {
    display: flex;
    padding: $spacing / 3 $spacing;
    border-bottom: 1px solid $color-border;
}

.sets-edit-header-item {
    flex: 0 0 25%;
}

// single

.set-edit {

}

.set-edit-inner {
    position: relative;
    display: flex;
    border-bottom: 1px solid $color-border;
    padding: $spacing / 2 $spacing;
    align-items: center;

    &:first-child {

    }
}

.set-edit-inner-item {
    flex: 0 0 25%;
}

.set-edit-inner--is-completed {

}

.set-edit-button-remove {
    display: flex;

    button {
        position: absolute;
        top: 0;
        right: 0;
        padding: $spacing / 1.5 $spacing;
    }
}

// form

.set-edit-weight {
}

.set-edit-checkbox {

}
