.lift-sets-table-top {
  padding: 18px;
  padding-bottom: 9px;
  display: flex;
  border-bottom: 1px solid #e4e9ea; }
  .lift-sets-table-top > div {
    flex: 1; }

.lift-sets-table-item {
  display: flex;
  padding: 9px 18px;
  border-bottom: 1px solid #e4e9ea; }
  .lift-sets-table-item > div {
    flex: 1; }
