@import "scss/variables.scss";

.lifts-container {

}

.lifts {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
}

.lift {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;

    flex: 0 0 percentage(1/5);
    max-width: percentage(1/5);
}

    .lift-name {
        position: relative;
        background-color: #315463;
        padding: .4rem;
    }

    .lift-rm {
        background-color: #333;
        padding: .4rem;
    }

.lift-form {

}
