@import 'variables.scss';
@import 'mixins.scss';

.field {
    position: relative;
    padding: $spacing / 1.5 $spacing $spacing / 2;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid $color-border;

    > div {
        width: 100%;
    }

    > label {
    }

    &:last-child {
        margin-bottom: $spacing;
        border-bottom: 1px solid $color-border;
    }

    .auth & {
        border: none;
        &:last-child {
            border: none;
        }
        label {
            margin-bottom: $spacing / 3;
        }
        input {
            @include input-background-color(#fff);
            border: 1px solid #eee;
            padding: $spacing $spacing / 1.5;
            border-radius: 4px;
        }
    }
}
