@import "variables.scss";

.field {
    position: relative;
    // display: flex;
    padding: $spacing / 1.5 $spacing $spacing / 2;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid $color-border;

    > div {
        width: 100%;
    }

    > label {
    }

    &:last-child {
        margin-bottom: $spacing;
        border-bottom: 1px solid $color-border;
    }
}
