.field {
  position: relative;
  padding: 12px 18px 9px;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #e4e9ea; }
  .field > div {
    width: 100%; }
  .field:last-child {
    margin-bottom: 18px;
    border-bottom: 1px solid #e4e9ea; }
  .auth .field {
    border: none; }
    .auth .field:last-child {
      border: none; }
    .auth .field label {
      margin-bottom: 6px; }
    .auth .field input {
      background-color: #fff;
      border: 1px solid #eee;
      padding: 18px 12px;
      border-radius: 4px; }
      .auth .field input:-webkit-autofill, .auth .field input:-webkit-autofill:hover, .auth .field input:-webkit-autofill:focus, .auth .field input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px transparent inset, 0 0 0 50px #fff inset;
        box-shadow: 0 0 0 50px transparent inset, 0 0 0 50px #fff inset; }
