.nav-no-auth-logo {
  margin: 36px 0 54px;
  text-align: center; }

.nav-no-auth-links {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 36px; }

.nav-no-auth-link {
  font-size: .9rem;
  margin: 0 36px;
  display: inline-block;
  letter-spacing: .05rem;
  color: #444; }
  .nav-no-auth-link:hover, .nav-no-auth-link.nav-no-auth-link--active {
    color: #4c90c2; }
