.input {
  flex: 1;
  margin-bottom: 0;
  background-color: transparent;
  border: 1px rgba(255, 255, 255, 0.1) dashed;
  width: 100%;
  color: #fff; }
  .input.input-right {
    text-align: right; }
  .input.input-center {
    text-align: center; }
  .input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }
