@import "variables.scss";

.input {
    position: relative;
    margin-bottom: 0;
    padding: $spacing-small 0;
    width: 100%;

    font-size: .9rem;
    border-radius: 3px;
    background-color: transparent;
    color: $color-font;
    border: 0;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px transparent inset, 0 0 0 50px $color-background inset;
        -webkit-text-fill-color: $color-font;
        border-color: #333;
    }

    &:focus {
        outline: 0;
    }

    &.input--right {
        text-align: right;
    }

    &.input--center {
        text-align: center;
    }

    &.input--large {
        padding: .5rem;
        font-size: 1.4rem;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        color: rgba($color-font, .3);
    }

    &[type=number]::-webkit-outer-spin-button,
    &[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
        appearance: none;
    }
}
