@import "scss/variables.scss";

.input {
    flex: 1;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, .1) dashed;
    width: 100%;
    color: #fff;

    &.input-right {
        text-align: right;
    }

    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .3);
    }
    &:-moz-placeholder {
        color: rgba(255, 255, 255, .3);
    }
    &::-moz-placeholder {
        color: rgba(255, 255, 255, .3);
    }
    &:-ms-input-placeholder {
        color: rgba(255, 255, 255, .3);
    }
}
