@import "variables.scss";

.input {
    position: relative;
    flex: 1;
    margin-bottom: 0;
    background-color: #333;
    // border: 1px rgba(0, 0, 0, .2) dashed;
    width: 100%;
    color: #fff;
    font-size: .9rem;
    border: 0;
    border: 1px solid #666;
    padding: .3rem;

    &.input--right {
        text-align: right;
    }

    &.input--center {
        text-align: center;
    }

    &.input--large {
        padding: .5rem;
        font-size: 1.4rem;
    }

    &::-webkit-input-placeholder {
        color: rgba(#fff, .3);
    }
    &:-moz-placeholder {
        color: rgba(#fff, .3);
    }
    &::-moz-placeholder {
        color: rgba(#fff, .3);
    }
    &:-ms-input-placeholder {
        color: rgba(#fff, .3);
    }
}
