.input {
  position: relative;
  margin-bottom: 0;
  padding: 5px;
  width: 100%;
  font-size: .9rem;
  border-radius: 3px;
  background-color: transparent;
  color: #444;
  border: 0; }
  .input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus, .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px transparent inset, 0 0 0 50px #fefefe inset;
    -webkit-text-fill-color: #444;
    border-color: #333; }
  .input:focus {
    outline: 0; }
  .input.input--right {
    text-align: right; }
  .input.input--center {
    text-align: center; }
  .input.input--large {
    padding: .5rem;
    font-size: 1.4rem; }
  .input::-webkit-input-placeholder, .input:-moz-placeholder, .input::-moz-placeholder, .input:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .input[type=number]::-webkit-outer-spin-button, .input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .input[type=number] {
    -moz-appearance: textfield;
    appearance: none; }
