.input {
  position: relative;
  flex: 1;
  margin-bottom: 0;
  background-color: #333;
  width: 100%;
  color: #fff;
  font-size: .9rem;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: .3rem; }
  .input.input--right {
    text-align: right; }
  .input.input--center {
    text-align: center; }
  .input.input--large {
    padding: .5rem;
    font-size: 1.4rem; }
  .input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus, .input:-webkit-autofill {
    border: 1px solid #444; }
