@import "variables.scss";

@mixin layout() {
    padding-right: $spacing/2;
    flex: 1;

    &.sets-table-right {
        text-align: right;
    }

    @media (max-width: 600px) {
        &.sets-table-number {
            flex: 0 0 20%;
        }
    }
}

.sets-table {

}

.sets-table-top {
    display: flex;
    padding: $spacing / 2 $spacing;

    border-bottom: 1px solid $color-border;
    background-color: rgba($color-primary, .05);

    > div {
        @include layout();
        align-self: flex-end;

        &:first-letter {
            text-transform: capitalize;
        }
    }
}

.sets-table-item {
    display: flex;
    padding: $spacing / 2 $spacing;
    border-bottom: 1px solid $color-border;
    transition: .2s color;

    > div {
        @include layout();
        align-self: center;
    }

    &:hover {
        color: $color-primary;
    }
}
