.label {
  display: block;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: .05rem;
  margin-right: 18px;
  color: #777777; }
  label + * + .label {
    margin-top: 1rem; }
  .label:first-letter {
    text-transform: capitalize; }
