

.workout {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fefefe;
    border: 2px solid #eee;
    border-radius: 4px;
}

.workout-day {
    margin-bottom: .5rem;
    font-size: .8rem;
    text-transform: uppercase;
}

.workout-name {
    font-size: 1.4rem;
    font-weight: 700;
}

.workout-button {
    margin-top: 1rem;
}
