.footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #ececec; }

.footer-inner {
  padding: 22px; }

.footer-item, .footer-link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: .8rem; }
  .footer-item:nth-child(1), .footer-link:nth-child(1) {
    margin-left: 0; }

.footer-item {
  color: #888; }
