@import 'variables.scss';

.footer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 6rem;
    text-align: center;
    background-color: $color-background-light;

    .app & {
        background-color: transparent;
        padding-top: 0;
    }
}

.footer-inner {
    padding: $spacing;
}

.footer-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.button.footer-link {
    display: inline-flex;
    font-size: 0.8rem;
    margin-left: $spacing/2;
    padding: 0;
}
