@import "variables.scss";

.footer {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: center;
    background-color: darken($color-background, 5%);
}

.footer-inner {
    padding: $spacing;
}

    .footer-item, .footer-link {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 1rem;
        font-size: .8rem;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    .footer-item {
        color: #888;
    }
