.footer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 6rem;
    text-align: center;
    background-color: #f2f2f2;
    border-top: 10px solid rgba(68, 68, 68, 0.05);
}
.app .footer {
    background-color: transparent;
    padding-top: 0;
}

.footer-inner {
    padding: 18px;
}

.footer-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.button.footer-link {
    display: inline-flex;
    font-size: 0.8rem;
    margin-left: 9px;
    padding: 0;
}
