.footer {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 6rem;
  text-align: center;
  background-color: rgba(76, 144, 194, 0.1);
  border-top: 3px solid rgba(76, 144, 194, 0.1); }
  .app .footer {
    background-color: transparent;
    padding-top: 0; }

.footer-inner {
  padding: 18px; }

.footer-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #666;
  margin-bottom: 1rem;
  font-size: .8rem; }

.button.footer-link {
  display: inline-flex;
  font-size: .8rem;
  margin-left: 9px;
  padding: 0; }
