.block-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3px;
  margin-left: -3px; }

.block-column {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px;
  flex: 0 0 20%;
  max-width: 20%; }
  @media (max-width: 860px) {
    .block-column {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (max-width: 700px) {
    .block-column {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (max-width: 500px) {
    .block-column {
      flex: 0 0 50%;
      max-width: 50%; } }

.block-button-create {
  margin-top: 1rem; }

.block-workout {
  background-color: #222;
  margin-bottom: 1rem; }

.block-workout-name {
  padding: 6px 10px;
  border-bottom: 1px solid #1a1a1a; }

.block-workout-lift-name {
  padding: 6px 10px;
  border-radius: 3px;
  border-bottom: 1px solid #1a1a1a;
  background-color: #315463; }

.block-workout-lift-set {
  padding: 4px 10px;
  font-size: .9rem;
  border-radius: 3px;
  border-bottom: 1px solid #1a1a1a;
  background-color: #2f3c42; }

.set-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3px;
  margin-left: -3px;
  justify-content: center; }

.set-col {
  flex: 1;
  position: relative;
  width: 100%;
  max-width: 50%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px; }

.set-weight {
  text-align: center; }

.set-weight-value {
  margin-top: .2rem;
  padding: .2rem .5rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: .7rem; }
  .set-weight-value input {
    width: 20%;
    font-size: .9rem;
    margin-right: .5rem; }

.set-button {
  text-align: right; }
  .set-button button {
    position: relative;
    margin-left: .2rem; }

.exercise-button-create {
  position: relative;
  text-align: center;
  bottom: -10px; }
