.workouts-blocks-button-create {
  position: absolute;
  top: 0;
  right: 0; }

.workouts-block {
  position: relative;
  margin-bottom: 2rem; }

.workouts-blocks-tab-list {
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid #444;
  transition: border .2s;
  height: 43px; }
  .workouts-blocks-tab-list.workouts-blocks-tab-list--completed {
    border-color: #4c90c2; }
  .workouts-blocks-tab-list:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    background-color: red;
    z-index: 1;
    background: linear-gradient(to right, transparent 0%, #222 100%); }

.workouts-blocks-tab-list-inner {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow-x: scroll; }

.workouts-blocks-tab {
  position: relative;
  padding: .6rem 1.4rem;
  background-color: #333;
  cursor: pointer;
  transition: background-color .2s, color .2s, border .2s;
  border-bottom: 2px solid transparent;
  margin-bottom: 1px;
  height: 38px; }
  .workouts-blocks-tab.workouts-blocks-tab--selected, .workouts-blocks-tab:hover {
    background-color: #444; }
  .workouts-blocks-tab.workouts-blocks-tab--completed {
    border-bottom: 2px solid #4c90c2; }
