
.workouts-blocks-container {
}

.workouts-blocks {

}

.workouts-blocks-button-create {

}

// single

.workouts-block {
    position: relative;
    // padding: 1rem;
    // background-color: #fff;
    margin-bottom: 2rem;
}

.workouts-block-title {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-top: 2px solid #ddd;
    padding-top: .4rem;
}
