.workouts-blocks-header {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  text-align: center; }

.workouts-block {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 2rem; }

.workouts-block-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-top: 2px solid #444;
  padding-top: .6rem; }
