@import "~normalize.css/normalize.css";
@import "scss/variables.scss";
@import "scss/layout.scss";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $color-font;
    overflow-y: scroll;
    background-color: $color-background;
    color: $color-font;
    margin-bottom: 10rem;
}


p {
    font-size: 1.1rem;
}

a {
    color: $color-font;
}

h2 {
    background-color: #222;
    text-align: center;
    padding: .4rem 0;
}

.message {
    font-size: .8rem;
    margin: 1rem 0;
    padding: .5rem;
    background-color: #ab2323;
}

input {
    background-color: transparent;
    border: 0;
    width: 100%;
    color: #fff
}

// temp
// label {
//     margin-top: 1rem;
//     margin-bottom: .3rem;
//     display: block;
//     text-transform: uppercase;
//     font-size: .7rem;
// }

// input {
//     width: 100%;
//     display: block;
//     padding: .5rem;
//     margin-bottom: 1rem;
//     color: #efefef;
//     background-color: $color-background-light;
//     border: 1px solid $color-border-input;

//     &[type="checkbox"] {
//         display: inline-block;
//         width: auto;
//         margin-right: .5rem;
//     }

//     &:focus {
//         background-color: lighten($color-background-light, 5%);
//     }

// }

// select {
//     padding: 5px 35px 5px 10px;
//     height: 34px;

//     appearance: none;
//     font-size: 16px;
//     color: $color-font;
//     background-color: $color-background-light;
//     border: 1px solid $color-border-input;

//     &:focus {
//         background-color: lighten($color-background-light, 5%);
//     }
// }

// select {
//   background-image:
//     linear-gradient(45deg, transparent 50%, gray 50%),
//     linear-gradient(135deg, gray 50%, transparent 50%);
//   background-position:
//     right 15px top .9em,
//     right 10px top .9em;
//   background-size:
//     5px 5px,
//     5px 5px;
//   background-repeat: no-repeat;
// }
