@import "~normalize.css/normalize.css";
@import "scss/variables.scss";
@import "scss/layout.scss";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $color-font;
}


// temp
label {
    margin-top: 1rem;
    margin-bottom: .3rem;
    display: block;
    text-transform: uppercase;
    font-size: .7rem;
}
input {
    width: 100%;
    display: block;
    padding: .5rem;
    margin-bottom: 1rem;
}
