@import "~normalize.css/normalize.css";
@import "scss/variables.scss";
@import "scss/layout.scss";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $color-font;
}
