$font-family: Helvetica, Arial, sans-serif;

$color-font: #222;

$color-primary: #d03d3d;
$color-primary-hover: darken($color-primary, 7%);

$color-button: $color-primary;
$color-button-hover: darken($color-button, 7%);

$color-border: lighten($color-primary, 20%);

