@import "variables.scss";
@import "mixins.scss";

.weeks-container {
    position: relative;
}

.weeks {

}

.weeks-button-create {
    button {
        margin: auto;
    }
}

// single

.week {
    position: relative;

    margin-bottom: 1rem;
}

.week-title {
    margin-left: $spacing;
    font-size: .8rem;
}
