.weeks-container {
  position: relative; }

.weeks-button-create button {
  margin: auto; }

.week {
  position: relative;
  margin-bottom: 1rem; }

.week-title {
  margin-left: 22px;
  font-size: .8rem; }
