@import "variables.scss";

.nav-container {
    // padding: 8px 30px 5px;
    background-color: $color-background-light;
    box-shadow: 1px 0 2px rgba(#000, .1);

    @media (max-width: 576px) {
        // padding-right: 15px;
        // padding-left: 15px;
    }

    &.nav-container--touch {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.nav-logo {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    padding-left: $spacing;

    img {
        max-width: none;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding: 0;
    // padding-left: 2 * $spacing;
    margin: 0;
    list-style: none;
    justify-content: flex-end;

    @media (max-width: 500px) {
        // padding-left: $spacing;
    }
}

.nav-item {
    flex: 0 0 25%;
}

.nav-link {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding: $spacing-small * 2 0;
    text-decoration: none;
    font-size: .7rem;
    letter-spacing: .05rem;
    color: lighten($color-font, 30%);
    transition: color .2s, background-color .2s;

    img {
        margin-bottom: 2px;
        opacity: .5;
        transition: opacity .2s;
    }

    .nav-item--unauth & {
        padding: 24px 0;
    }

    &:visited {
        color: lighten($color-font, 30%);
    }

    &:hover, &.nav-link--active {
        color: $color-danger;
        background-color: #e9e9e9;

        img {
            opacity: 1;
        }
    }

    @media (max-width: 414px) {
        img {
            max-width: 24px;
        }
    }
}
