.nav {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  padding: .4rem 10rem .2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #d03d3d;
  background-color: #fff; }
  @media (max-width: 1000px) {
    .nav {
      padding-left: 5rem;
      padding-right: 5rem; } }
  @media (max-width: 800px) {
    .nav {
      padding-left: 15px;
      padding-right: 15px; } }

.nav-logo {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap; }
  .nav-logo img {
    max-width: 160px; }

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none; }
  @media (min-width: 500px) {
    .nav-list {
      flex-direction: row; } }

.nav-item {
  padding-left: 2rem; }

.nav-link {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .05rem;
  color: #d03d3d;
  transition: border .2s;
  border-bottom: 2px solid transparent; }
  .nav-link:visited {
    color: #d03d3d; }
  .nav-link:hover {
    border-bottom: 2px solid #d03d3d; }
  .nav-link.nav-link--active {
    border-bottom: 2px solid #d03d3d; }
