@import "variables.scss";

.nav-container {
    padding: .4rem 1rem .2rem;
    margin-bottom: 2rem;
    background-color:  $color-background-light;
}

.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.nav-logo {
    margin-top: 5px;
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;

    img {
        max-width: 160px;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;

    @media(min-width: 500px) {
        flex-direction: row;
    }
}

.nav-item {
    padding-left: 2rem;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    color: $color-primary;
    transition: border .2s;
    border-bottom: 1px solid transparent;

    &:visited {
        color: $color-primary;
    }

    &:hover {
        border-bottom: 1px solid $color-primary;
    }

    &.nav-link--active {
        border-bottom: 1px solid $color-primary;
    }
}
