@import "variables.scss";

.nav-container {
    padding: 8px 30px 5px;
    // margin-bottom: 2rem;
    background-color: #171717;

    @media (max-width: 576px) {
        max-width: 540px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.nav-logo {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;

    img {
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;

    @media(max-width: 500px) {
        flex-direction: column;
        margin: 5px 0;
    }
}

.nav-item {
    padding-left: 2rem;

    @media(max-width: 500px) {
        padding-left: 0;
        padding: 2px 0;
        text-align: right;
    }
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
    color: $color-font;
    transition: border .2s;
    border-bottom: 1px solid transparent;

    &:visited {
        color: $color-font;
    }

    &:hover {
        border-bottom: 1px solid $color-font;
    }

    &.nav-link--active {
        border-bottom: 1px solid $color-font;
    }
}
