.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 10rem .2rem;
  border-bottom: 2px solid #222;
  margin-bottom: 1rem;
  background-color: #fff; }
  @media (max-width: 800px) {
    .nav {
      padding-left: 2rem;
      padding-right: 2rem; } }

.nav-logo {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap; }
  .nav-logo img {
    max-width: 160px; }

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none; }
  @media (min-width: 500px) {
    .nav-list {
      flex-direction: row; } }

.nav-item {
  padding-left: 2rem; }

.nav-link {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .05rem;
  color: #222;
  transition: color .2s; }
  .nav-link:visited {
    color: #222; }
  .nav-link:hover {
    color: #D05252; }
  .nav-link.nav-link--active {
    color: #D05252; }
