.nav-container {
  padding: .4rem 1rem .2rem;
  margin-bottom: 2rem;
  background-color: #333; }

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; }

.nav-logo {
  margin-top: 5px;
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap; }
  .nav-logo img {
    max-width: 160px; }

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none; }
  @media (min-width: 500px) {
    .nav-list {
      flex-direction: row; } }

.nav-item {
  padding-left: 2rem; }

.nav-link {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .05rem;
  color: #efefef;
  transition: border .2s;
  border-bottom: 1px solid transparent; }
  .nav-link:visited {
    color: #efefef; }
  .nav-link:hover {
    border-bottom: 1px solid #efefef; }
  .nav-link.nav-link--active {
    border-bottom: 1px solid #efefef; }
