.button {
  display: inline-block;
  padding: 20px;
  background-color: red;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent; }
