.auth {
  max-width: 400px;
  margin: 0 auto; }
  .auth .field {
    background-color: transparent; }
    .auth .field:last-child {
      margin-bottom: 0; }

.auth-button {
  display: flex; }
  .auth-button button {
    margin: auto; }
