.input, .textarea {
  position: relative;
  margin-bottom: 0;
  padding: 9px 0;
  width: 100%;
  font-size: .9rem;
  border-radius: 3px;
  background-color: transparent;
  color: #444;
  border: 0;
  background-color: transparent; }
  .input:-webkit-autofill, .textarea:-webkit-autofill, .input:-webkit-autofill:hover, .textarea:-webkit-autofill:hover, .input:-webkit-autofill:focus, .textarea:-webkit-autofill:focus, .input:-webkit-autofill, .textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px transparent inset, 0 0 0 50px transparent inset; }
  .input:-webkit-autofill, .textarea:-webkit-autofill, .input:-webkit-autofill:hover, .textarea:-webkit-autofill:hover, .input:-webkit-autofill:focus, .textarea:-webkit-autofill:focus, .input:-webkit-autofill, .textarea:-webkit-autofill {
    -webkit-text-fill-color: #444; }
  .input:focus, .textarea:focus {
    outline: 0; }
  .input.input--right, .input--right.textarea {
    text-align: right; }
  .input.input--center, .input--center.textarea {
    text-align: center; }
  .input.input--large, .input--large.textarea {
    padding: .5rem;
    font-size: 1.4rem; }
  .input[type=number]::-webkit-outer-spin-button, [type=number].textarea::-webkit-outer-spin-button, .input[type=number]::-webkit-inner-spin-button, [type=number].textarea::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .input[type=number], [type=number].textarea {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.5); }
    .input::-webkit-input-placeholder:-webkit-autofill, .textarea::-webkit-input-placeholder:-webkit-autofill, .input::-webkit-input-placeholder:-webkit-autofill:hover, .textarea::-webkit-input-placeholder:-webkit-autofill:hover, .input::-webkit-input-placeholder:-webkit-autofill:focus, .textarea::-webkit-input-placeholder:-webkit-autofill:focus, .input::-webkit-input-placeholder:-webkit-autofill, .textarea::-webkit-input-placeholder:-webkit-autofill {
      -webkit-text-fill-color: rgba(68, 68, 68, 0.5); }
  .input:-moz-placeholder, .textarea:-moz-placeholder {
    color: rgba(68, 68, 68, 0.5); }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    color: rgba(68, 68, 68, 0.5); }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.5); }
  .input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.5); }
  .input::placeholder, .textarea::placeholder {
    color: rgba(68, 68, 68, 0.5); }

.textarea {
  max-width: 100%;
  height: auto;
  overflow: hidden; }
