@import "variables.scss";

@mixin layout() {
    flex: 0 0 25%;

    &:first-child {
        flex: 0 0 15%;
    }

    &:last-child {
        flex: 0 0 10%;
    }
}

.sets {
    label {
        margin-right: 0;
    }
}

.sets-button-create {
    display: flex;
    padding: $spacing / 2 $spacing;

    button {
        margin-left: auto;
        padding: 0;
    }
}

.sets-header {
    display: flex;
    padding: $spacing / 2 $spacing;
    border-bottom: 1px solid $color-border;
}

.sets-header-item {
    @include layout();
}

// single

.set {

}

.set {
    position: relative;
    display: flex;
    border-bottom: 1px solid $color-border;
    padding: $spacing / 4 $spacing;
    align-items: center;

    &:first-child {

    }
}

.set-item {
    @include layout();
}

.set--is-completed {
    background-color: rgba($color-primary, .05);
}

// form

.set-checkbox {
    display: flex;

    label {
        cursor: pointer;
        padding: $spacing/2 0;
        margin: 0;
        margin-left: auto;
    }
}
