.sets-button-create {
  margin-top: 10px; }

.set {
  position: relative;
  border-bottom: 1px solid #555;
  padding: 10px 0; }
  .set:first-child {
    border-top: 1px solid #555; }

.set-number {
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: .4rem; }

.set-rmPercentage {
  color: #89bbdd; }

.set-button-remove {
  position: absolute;
  top: 8px;
  right: 0; }

.set-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3px;
  margin-left: -3px;
  justify-content: center; }

.set-col {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 3px;
  flex: 0 0 50%;
  max-width: 50%; }

.set-button {
  text-align: right; }
  .set-button button {
    position: relative;
    margin-left: .2rem; }
