@import "variables.scss";

.sets {
    background-color: #fff;
}

.sets-button-create {
    display: flex;
    padding: $spacing / 2 $spacing;
    background-color: $color-background;

    button {
        margin-left: auto;
        padding: 0;
    }
}

.sets-header {
    display: flex;
    padding: $spacing / 2 $spacing;
    border-bottom: 1px solid $color-border;
}

.set-header-item {
    flex: 0 0 25%;
}

// single

.set {

}

.set-inner {
    display: flex;
    border-bottom: 1px solid $color-border;
    padding: $spacing / 4 $spacing;
    align-items: center;

    &:first-child {

    }
}

.set-inner-item {
    position: relative;
    flex: 0 0 25%;
}

.set-inner--is-completed {

}

.set-button-remove {
    display: flex;

    button {
        padding: 0;
        margin-left: auto;
    }
}

// form

.set-weight {
}

.set-checkbox {

}
