@import 'variables.scss';
@import 'mixins.scss';

@mixin layout() {
    flex: 1;

    &:first-child {
        flex: 0 0 20%;
    }

    &:last-child {
        flex: 0 0 30px;
    }
}

.sets {
}

.sets-button-create {
    display: flex;
    padding: $spacing / 2 $spacing;

    button {
        margin-left: auto;
        padding: 0;
    }
}

.sets-header {
    display: flex;
    padding: $spacing / 2 $spacing;
    border-bottom: 1px solid $color-border;
}

.sets-header-item {
    @include layout();

    &:first-letter {
        text-transform: capitalize;
    }
}

.sets-header-item--toggle {
    button {
        justify-content: center;
        width: 100%;
        padding: 0;
    }
}

// single

.set-inner {
    position: relative;
    display: flex;
    border-bottom: 1px solid $color-border;
    padding: $spacing / 4 $spacing;
    align-items: center;

    &.set-inner--is-completed {
        background-color: rgba($color-primary, 0.05);
    }

    input[name='weight'],
    input[name='reps'] {
        font-size: 1.3rem;

        @include placeholder(rgba($color-font, 0.3));
    }
}

.set-inner-item {
    @include layout();
}

// form

.set-action {
    display: flex;

    > label,
    > button {
        cursor: pointer;
        padding: $spacing/2 0;
        margin: 0;
        margin-left: auto;
    }
}
