.sets label {
  margin-right: 0; }

.sets-button-create {
  display: flex;
  padding: 9px 18px; }
  .sets-button-create button {
    margin-left: auto;
    padding: 0; }

.sets-header {
  display: flex;
  padding: 9px 18px;
  border-bottom: 1px solid #e4e9ea; }

.sets-header-item {
  flex: 0 0 35%; }
  .sets-header-item:first-child {
    flex: 0 0 20%; }
  .sets-header-item:last-child {
    flex: 0 0 10%; }

.set-inner {
  position: relative;
  display: flex;
  border-bottom: 1px solid #e4e9ea;
  padding: 4.5px 18px;
  align-items: center; }
  .set-inner.set-inner--is-completed {
    background-color: rgba(76, 144, 194, 0.05); }
  .set-inner input[name="weight"], .set-inner input[name="reps"] {
    font-size: 1.3rem; }
    .set-inner input[name="weight"]::-webkit-input-placeholder, .set-inner input[name="reps"]::-webkit-input-placeholder {
      color: rgba(68, 68, 68, 0.3); }
    .set-inner input[name="weight"]:-moz-placeholder, .set-inner input[name="reps"]:-moz-placeholder {
      color: rgba(68, 68, 68, 0.3); }
    .set-inner input[name="weight"]::-moz-placeholder, .set-inner input[name="reps"]::-moz-placeholder {
      color: rgba(68, 68, 68, 0.3); }
    .set-inner input[name="weight"]:-ms-input-placeholder, .set-inner input[name="reps"]:-ms-input-placeholder {
      color: rgba(68, 68, 68, 0.3); }
    .set-inner input[name="weight"]::-ms-input-placeholder, .set-inner input[name="reps"]::-ms-input-placeholder {
      color: rgba(68, 68, 68, 0.3); }
    .set-inner input[name="weight"]::placeholder, .set-inner input[name="reps"]::placeholder {
      color: rgba(68, 68, 68, 0.3); }

.set-inner-item {
  flex: 0 0 35%; }
  .set-inner-item:first-child {
    flex: 0 0 20%; }
  .set-inner-item:last-child {
    flex: 0 0 10%; }

.set-action {
  display: flex; }
  .set-action > label, .set-action > button {
    cursor: pointer;
    padding: 9px 0;
    margin: 0;
    margin-left: auto; }
